# Archivos de sistema y python
__pycache__/
*.pyc
.DS_Store

# Entornos virtuales
venv/
env/

# Base de datos (No subir la DB real por seguridad)
*.db
archivo_data.db

# Archivos adjuntos (Para no llenar el repo de archivos pesados)
archivos_subidos/

# Secretos (si usas variables de entorno)
.env
.streamlit/secrets.toml
